*{
    margin: 0pt;
    padding: 0pt;
}
#container{



    height: 100%;
    width: 100%;
    background-color: grey;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}