* {
  margin: 0pt;
  padding: 0pt;
}

.card a{
  text-decoration: none;
  color: black;
}

#container {
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;

  height: 100%;
  width: 100%;
  background-color: rgb(205, 205, 205);
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
 } 
  
.top-nav{
  background-color: rgb(164, 236, 135);
  padding: 15px;
}

/* Header Styles */
header {
  background-color: #d8d8d8;
}
.top-nav {
  grid-row: 1;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  

  background-color: #afa9a9;
  z-index: 2;
  border-bottom: 1px solid #e0e0e0;

  width: 100%;
}
.top-nav-icon {
  width: 20%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.top-nav-icon1 {
  width: 20%;
  display: flex;

  margin-left: 60%;
  justify-content: center;
  align-items: center;
}
.body-container{
  grid-row: 2;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  background-color: rgb(234, 234, 234);
}
.card {
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border-color: #000000;
  border-width: 2px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
  .card-title {
    font-weight: bolder;
  }
}
.card-img-top{
  border-radius: 20px;
}
.card-body{
  margin: 0px;
  padding: 0px;
  width: 100%;

  text-align: left;
  background-color: rgb(207, 207, 207);
  border-radius: 0px 0px 18px 18px;
  border: 1px solid #000000;
}
.card-title{
  text-align: left;
  margin-left: 5%;
  margin-top: 5%;
}
.card-text{
  margin-left: 5%;
  padding-bottom: 5%;
}
.welcome-text {
  text-align: center;
  padding: 2rem;
  margin-top: 70px;
}

.welcome-text h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.welcome-text p {
  color: #666;
  line-height: 1.5;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.responsive {
  width: 100%;
  height: auto;
}
.rounded-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* Centers the circle horizontally */
}
/* Bottom Navigation */
.bottom-nav {
  grid-row: 3;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .carousel {
      height: 250px;
  }
  
  .carousel-caption {
      font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .carousel {
      height: 200px;
  }
  
  .welcome-text h1 {
      font-size: 1.2rem;
  }
} 